.image {
  width: inherit;
}

.item {
  /* margin: 20px; */
  /* background-color: rgb(201, 201, 201); */
  width: 20vw;
  height: 20vh;
  text-align: left;
  border-radius: 20px;
}

.item .name,
.item .price {
  padding-left: 10px;
}

.counter {
  display: flex;
}

.App,
.products {
  display: flex;
  flex-wrap: wrap;
}
